<div class="select-company-container">
    <h1 class="select-header">Select Company</h1>
    <div class="companies-list">
        <form [formGroup]="companyForm">
            <select class="select-company" formControlName="company">
                <option value="" disabled selected>Pick an option</option>
                <option *ngFor="let company of companies" [value]="company">
                    {{ company }}
                </option>
            </select>
            <button class="company-btn" (click)="onSubmit()" type="submit">Submit</button>
        </form>
    </div>
</div>


