<div class="announcer">
<div style="vertical-align: top;">
<div style="float: left; width:50%;">
<p style="font-size: 25px;">{{announcement.author.profile.firstName}} {{announcement.author.profile.lastName}}</p>
<p style="vertical-align: bottom; font-size: 15px; color: rgb(181,179,179);">{{announcement.title}}</p>
</div>
<div style="color: white 0.63; float: right; width: 50%; font-size: 14px;">
<p style="font-size: 17px;">{{date}}</p>
</div>
</div>
<p style="font-size: 14px; padding: 10px; vertical-align: bottom; text-align: left;">{{announcement.message}}</p>
</div>