<div class="announcer">
    <div class="one" style="text-align: left; padding: 0 5%;" >
        <div>
            <p style="font-size: 20px;">{{announcement.author.profile.firstName}}
                {{announcement.author.profile.lastName}}</p>
        </div>
        <div>
            <p style="font-size: 13px; color: rgb(181,179,179);">{{announcement.title}}</p>
    </div>
    </div>
    <div class="three">
        <p style="padding: 0 5%; font-size: 20px; color: rgba(255,255,255,0.63)">{{date}}</p>
        </div>
    <div class="four">
    <p style="padding: 0 2.5%; font-size: 13px; text-align: left;">{{announcement.message}}</p>
    </div>
</div>
