.announcer{
    border-color: transparent;
    background-color: rgb(0, 35, 152);
    border-radius: 20px;
    width: 80%;
    align-items: left;
    margin: auto;
    margin-top: 5%;
    color: white;
    padding: 10px;
    display: grid;
}