.announcer{
    background-color: rgb(11, 45, 69);
    border-radius: 20px;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    stroke:black;
    padding: 10px;
    display: grid;
    font-weight: 1;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    grid-template-rows: minmax(100px, auto);
    vertical-align: top;

    &:hover {
        box-shadow: 0 6px 10px rgba(255, 255, 255, 0.2); 
    }
}
.one{
    grid-column: 1;
    grid-row: 1;
}
.two{
    grid-column: 1;
    grid-row: 2;
}
.three{
    vertical-align: text-top;
    width: 100%;
    text-align: right;
    grid-column: 2 ;
    grid-row: 1;
}
.four{
    grid-column: span 2 ;
    grid-row: 2;
}