.modal-container {
    background-color: var(--box-color);
    color: var(--outline-color);
    overflow: hidden;
    border: none;
    text-align: left;
    width:30em;
}

label {
    font-size: 14px;
    color: var(--outline-color)
}

input {
    color: white;
    font-size:16px;
    padding: 10px;
    margin: 0px 0px 15px 0;
    background-color: var(--box-color);
    border: none;
    border-bottom: 1px solid var(--outline-color);
}

select {
        border: none;
        color: var(--select-color);
        border-radius: 1rem;
        background-color: var(--text-color);
        text-align: center;
        padding: 0.5rem;
        width: 15rem;
}

.select-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:auto;
    justify-content: center;
}

.select-container label {
    margin:10px 0 10px 0;
    font-size: 20px;
}

#description{
    font-size:14px;
}

.modal-form {
    display:flex;
    flex-direction: column;
    padding: 20px 60px;
}
.header {
    color: var(--outline-color);
}

.btn {
    width: 15rem;
    padding: .5rem;
    font-size: 20px;
    background-color: var(--header-color);
    border: none;
    color: var(--text-color);
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 12rem;
    margin:auto
}

mat-form-field {
    margin-right: 1rem;
}
