<!-- <h2 mat-dialog-title>Create Project</h2>
<form [formGroup]="projectForm">
	<mat-form-field appearance="fill">
		<mat-label>Name</mat-label>
		<input matInput formControlName="name">
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Description</mat-label>
		<input matInput formControlName="description">
	</mat-form-field>
	<div mat-dialog-actions>
		<button *ngIf="admin" mat-button (click)="onSubmit()" type="submit">Create Project</button>
	</div>
</form> -->

<div mat-dialog-content class="modal-container">
	<div class="modal-content">
		<form class="modal-form" [formGroup]="projectForm">
			<label for="name">Project Name</label>
			<input id="name" matInput formControlName="name">
			<label for="description">Description</label>
			<input id="description" matInput formControlName="description">
		</form>
		<div mat-dialog-actions>
			<button class="btn" mat-button (click)="onSubmit()">Save</button>
		  </div>
	</div>
	
	</div>
