<div mat-dialog-content class="modal-container">
<div class="modal-content">
	<form class="modal-form" [formGroup]="projectForm">
		<label for="name">Project Name</label>
		<input id="name" matInput formControlName="name">
		<label for="description">Description</label>
		<input id="description" matInput formControlName="description">
		<div class="select-container">
			<label for="active">Active?</label>
			<select id="active" class="select-active" formControlName="active">
				<option aria-selected="true" value="true">Active</option>
				<option value="false">Inactive</option>
			</select>
		</div>
	</form>
    <div mat-dialog-actions>
		<button class="btn" mat-button (click)="onSubmit()">Save</button>
	  </div>
</div>

</div>

