<div class="container">
	<h1>COOK SYSTEMS</h1>
	<h2>A FINAL APP</h2>
	<div>
		<img/>
		<form [formGroup]="loginForm">
			<div>
				<input type="text" name="email" placeholder="email" formControlName="email"/>
				<p *ngIf="email.errors?.['minlength'] && email.touched">Email must be at least 6 characters long</p>
				<p *ngIf="email.errors?.['pattern'] && email.touched">Email must follow pattern "example@example.domain"</p>
			</div>
			<div>
				<input type="password" name="password" placeholder="password" formControlName="password"/>
				<p *ngIf="password.errors?.['minlength'] && password.touched">Password must be at least 6 characters long</p>
			</div>
			<button (click)="signIn()">LOGIN</button>
		</form>
	</div>
</div>