.header-content {
    color: var(--header-color);
}

.subtitle {
    padding-bottom: 3rem;
}

.error {
    color: red;
}

img {
    margin-bottom: 30px;
}

.email, .password {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    border-bottom: 3px solid var(--text-color);
    outline: none;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

::placeholder {
    color: var(--header-color);
}

.login-btn {
    width: 10rem;
    padding: 1rem;
    background-color: var(--bg-color);
    border: solid;
    color: var(--text-color);
    border-radius: 1.5rem;
    border-color: var(--header-color);
    margin-top: 2rem;
}

.login-btn:hover {
    cursor: pointer;
    background-color: var(--header-color);
    transition: 0.45s;
}

.login-container {
    border: solid;
    border-color: #DEB992;
    border-radius: 1rem;
    width: 50%;
    padding: 2rem;
    margin: auto;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px 2.5px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 10px 2.5px rgba(255, 255, 255, 0.5);
    }
}
