/* for anyone who wants to try making the modal have rounded edges :  */
/* https://stackblitz.com/edit/ang-material-dialog-utxye6?file=src%2Fstyles.css */

.modal-container {
    background-color: var(--box-color);
    color: var(--outline-color);
    overflow: hidden;
    border: none;
    text-align: center;
}

.header {
    color: var(--outline-color);
}

.add-user-btn {
    width: 8rem;
    padding: 1rem;
    background-color: var(--header-color);
    border: none;
    color: var(--text-color);
    border-radius: 1rem;
    margin-top: 2rem;
    margin-left: 12rem;
    margin-bottom: 2rem;
}

.add-user-btn:hover {
    cursor: pointer;
    background-color: #22cdc2;
    transition: 0.45s;
}

mat-form-field {
    margin-right: 1rem;
}




