<div class="desktop nav-container">
    <div>
        <img src="../../assets/placeholder.jpg" class="avatar-img">
        <h3 *ngIf="admin">ACTING AS ADMIN</h3> 
        <h3 *ngIf="!admin">{{name}}</h3>   
    </div>

    <nav>
        <h1><a [routerLinkActive]="['active-link']" routerLink="/company/{{companyId}}/announcements">Home</a></h1>
        <h1 *ngIf="admin"><a [routerLinkActive]="['active-link']" routerLink="/companies">Company</a></h1>
        <h1><a [routerLinkActive]="['active-link']" routerLink="/company/{{companyId}}/teams">Teams</a></h1>
		<h1 *ngIf="admin"><a [routerLinkActive]="['active-link']" routerLink="/company/{{companyId}}/users">Users</a></h1>
        <h1><a routerLink="/">Logout</a></h1>
    </nav>
</div>
