.select-company-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

.select-header {
    color: var(--header-color);
    font-family: var(--main-font-family);
    font-size: 5rem;
}

.company-btn {
    margin-left: 1rem;
    border: none;
    border-color: var(--form-bg-color);
    color: var(--text-color);
    border-radius: 1rem;
    background-color: var(--header-color);
    text-align: center;
    padding: 0.5rem;
}

.company-btn:hover {
    background-color: #26eadd;
    cursor:pointer;
    transition: 0.45s;
}

.select-company {
    border: none;
    color: var(--select-color);
    border-radius: 1rem;
    background-color: var(--text-color);
    text-align: center;
    padding: 0.5rem;
    width: 15rem;
}

