<div class="mobile">
    <div class="nav-container">
        <div>
            <img class="avatar-img" id="mobile-avatar" src="../../assets/placeholder.jpg" >
            <div *ngIf="!admin" class="user">{{name}}</div>   
            <div *ngIf="admin" class="user">ACTING AS ADMIN</div>
        </div>
        <button mat-button class="menu-button" (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div *ngIf="menuShown">
        <nav>
            <div>
                <h2><a [routerLinkActive]="['active-link']" routerLink="/company/{{companyId}}/announcements">Home</a></h2>
            </div>
            <div *ngIf="admin">
                <h2><a [routerLinkActive]="['active-link']" routerLink="/companies">Company</a></h2>
            </div>
            <div>
                <h2><a [routerLinkActive]="['active-link']" routerLink="/company/{{companyId}}/teams">Teams</a></h2>
            </div>
            <div *ngIf="admin">
                <h2><a [routerLinkActive]="['active-link']" routerLink="/company/{{companyId}}/users">Users</a></h2>
            </div>
                <h2><a routerLink="/">Logout</a></h2>
        </nav>
    </div>

</div>
