<app-navmenu [companyId]="companyId"></app-navmenu>
<app-navmenu-mobile [companyId]="companyId"></app-navmenu-mobile>


<div class="user-content">

  <div class="spinner">
    <ng-template class="spinner" #loading>
      <mat-spinner color="primary"></mat-spinner>
    </ng-template>
  </div>

<div class="user-container" *ngIf="users$ | async as users; else loading">
    <h1 class="user-title">User Registry</h1>
    <table mat-table [dataSource]="users" class="user-table">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let user"> 
              {{user.profile.firstName}} {{user.profile.lastName}} 
            </td>
          </ng-container>
        
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let user"> {{user.profile.email}} </td>
          </ng-container>
        
          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef> Active </th>
            <td mat-cell *matCellDef="let user"> {{user.active}} </td>
          </ng-container>
        
          <ng-container matColumnDef="admin">
            <th mat-header-cell *matHeaderCellDef> Admin </th>
            <td mat-cell *matCellDef="let user"> {{user.admin}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let user"> {{user.status}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
    </table>
    <button mat-button class="add-user-btn" (click)="openAddUserDialog()" type="submit">Add User</button>
</div>
</div>

