.user-title {
    color: var(--header-color);
    text-align: center;
}

.add-user-btn {
    width: 8rem;
    padding: 1rem;
    background-color: var(--header-color);
    border: none;
    color: var(--text-color);
    border-radius: 1rem;
    margin-top: 2rem;
}

.add-user-btn:hover {
    cursor: pointer;
    background-color: #22cdc2;
    transition: 0.45s;
}

.user-container {
    margin: 0 auto; /* Center the container horizontally */
    width: 80%;
}

table {
    border-collapse: separate;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--outline-color); 
}

td, th {
    padding: 8px;
    border: 1px solid var(--outline-color);
    font-size: 1.5em;
    color: var(--text-color);
    text-align: center;
}

thead {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: var(--bg-color);

    &:hover {
        background-color: var(--bg-color);
    }
}

tr:nth-child(odd) {
    background-color: var(--bg-color);

    &:hover {
        background-color: var(--bg-color);
    }
}
