.project { 
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	width:70%;
	margin:auto;
	border-top: 1px solid var(--outline-color);
	padding: 30px 0;
}

.project-header {
	display: flex;
	flex-direction: row;
}

.info {
	display: flex;
	justify-content: center;

}

.name {
	color: var(--text-color);
	font-weight: 300;
	margin:0;
}
.active {
	color: var(--active-color);
}
.inactive {
	color: var(--inactive-color);
}
.description {
	color: var(--secondary-text-color);
	margin:0;
}
.edit-button {
	justify-self: end;
	background-color: var(--outline-color);
}
