.project { 
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	width:70%;
	margin:auto;
	border-top: 1px solid var(--outline-color);
	padding: 30px 0;
}

.project-header {
	display: flex;
	flex-direction: column;
}

.info {
	width: 22em;
	margin: 0 0 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

.name {
	color: var(--text-color);
	font-weight: 300;
	margin:0;
	flex-basis: 80%;
}
.active {
	color: var(--active-color);
}
.inactive {
	color: var(--inactive-color);
}

.tag {
	margin: 0;
	font-weight: 300;
	flex-basis: 20%;
}

.description {
	color: var(--secondary-text-color);
	margin:0;
}
.edit-button {
	position: relative;	
	border: none;
	border-radius: 10px;
	width: 5em;
	height: 2em;
	margin-bottom: -20px;
	font-size: 17px;
	background-color: var(--outline-color);
	color:rgba(0, 0, 0, 0.75)
}
.edit-button:hover {
    cursor: pointer;
    background-color: #ffdfbd;
    transition: 0.45s;
}
