.button-wrapper {
    margin:auto;
    width: 70%;
    text-align: right;
}

.new-button {
    justify-self: start;
    background-color: var(--header-color);
    color: var(--secondary-text-color);
    border: none;
	border-radius: 10px;
    margin-bottom: 20px;
	width: 5em;
	height: 2em;
	font-size: 17px;
}

.new-button:hover {
    cursor: pointer;
    background-color: #22cdc2;
    transition: 0.45s;
}

.back {
    position:absolute;
    color:var(--header-color);
    font-size: 20px;
    font-weight: 500;
    margin: 40px 40px 0 30px;
    left:0;
    height:auto
}

.back:hover {
    cursor: pointer;
    color: #22cdc2;
    transition:0.45s
}

.head-box {
    align-items: center;
    height: 7em;
}
