<app-navmenu [companyId]="companyId"></app-navmenu>
<app-navmenu-mobile [companyId]="companyId"></app-navmenu-mobile>

<div class="container">
	<div class="head-box">
		<p class="back" routerLink="/company/{{companyId}}/teams">{{"<"}} Back</p>
		<h1 class="header">Projects for {{team.name}}</h1>
	</div>
	<div>
		<div class="button-wrapper">
			<button class="new-button" *ngIf="admin" (click)="openCreateDialog()">New</button>
		</div>
		<div>
			<app-project *ngFor="let project of projects | keyvalue" [project]="project.value"
				(openDialog)="openEditDialog($event)"></app-project>
		</div>
	</div>
</div>


