<app-navmenu [companyId]="companyId"></app-navmenu>
<app-navmenu-mobile></app-navmenu-mobile>
<div class="teams-container">
    <h1 class="teams-title">Teams</h1>
    <div class="all-teams">
      <div *ngFor="let team of teams">
        <app-team

        [name]="team.name"
        [totalProjects]="team.totalProjects"
        [members]="team.teammates"
    ></app-team>
    <button class="add-team" (click)="openCreateTeamDialog()">
        <mat-icon class="icon-display" fontIcon="add"></mat-icon>
        New Team
    </button>
    </div>
</div>

