<app-navmenu [companyId]="companyId"></app-navmenu>
<app-navmenu-mobile [companyId]="companyId"></app-navmenu-mobile>
<div class="teams-container">
    <h1 class="teams-title">Teams</h1>
    <div class="all-teams">
      <div *ngFor="let team of teams">
        <app-team

        [name]="team.name"
        [totalProjects]="team.numberofproject"
        [members]="team.teammates"
        [teamId]="team.id"
        [companyId]="companyId"
    ></app-team>
    </div>
    <button *ngIf="admin" class="add-team" (click)="openCreateTeamDialog()">
        <mat-icon class="icon-display" fontIcon="add"></mat-icon>
        New Team
    </button>
</div>

