<app-navmenu></app-navmenu>
<app-navmenu-mobile></app-navmenu-mobile>
<div class="teams-container">
    <h1 class="teams-title">Teams</h1>
    <div class="all-teams">
        <app-team
        *ngFor="let team of teams"
        [name]="team.name"
        [totalProjects]="team.totalProjects"
        [members]="team.members"
    ></app-team>
    <button class="add-team" (click)="openCreateTeamDialog()">
        <mat-icon class="icon-display" fontIcon="add"></mat-icon>
        New Team
    </button>
    </div>
</div>

