<app-navmenu [companyId]="companyId"></app-navmenu>
<app-navmenu-mobile [companyId]="companyId"></app-navmenu-mobile>
<div class="container">
	<div class= "gridder" style="border-bottom: rgb(222, 185, 146) 1px solid; margin-bottom: 10px; width: 70%">
		<div class="one">
		<p style="font-size: 40px;">Announcements</p>
		</div>
		<div class="two">
		<button style=" padding-left: 20px; padding-right: 20px;" *ngIf="admin" (click)="openCreateAnnouncement()">New</button>
		</div>
	</div>
	<div style=" width:60%; margin: auto;" class="announcer">
		<app-announcement *ngFor="let announcement of announcements" [announcement]="announcement"></app-announcement>
	</div>
</div>
